.logo {
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: #000000;
}

.page-footer__logo {
  color: #ffffff;
}

.logo__accent {
  color: $accent-color;
}
